#custom-launcher {
  font-size: large;
  font-weight: bold;
  color: @foreground;
  background-color: transparent;
  padding: 0.5rem;
}

/*TODO #custom-launcher:hover {
  color: @background;
  background-color: @cyan;
}*/

#custom-theme,
#custom-power,
#custom-restart,
#custom-sleep,
#custom-lock {
  background-color: @foreground;
  color: @background;
  padding: 0 0.75rem 0 0.75rem;
  font-size: large;
  font-weight: bold;
}

#custom-updates {
  color: @foreground;
  padding: 0 0.75rem;
  font-weight: bold;
}
