/** ================================ **/
/** ========== Workspaces ========== **/
/** ================================ **/
#workspaces button {
  all: initial; /* Remove GTK theme values (waybar #1351) */
  min-width: 0; /* Fix weird spacing in materia (waybar #450) */
  box-shadow: inset 0 -3px transparent; /* Use box-shadow instead of border so the text isn't offset */
  padding: 0.5rem;
  margin: 0 0.25rem;
  color: @cyan;
  border-radius: 0.25rem;
}

#workspaces button.active,
#workspaces button.empty {
  color: @foreground;
}

#workspaces button.urgent {
  color: @cyan;
}

#workspaces button:hover {
  box-shadow: inherit;
  text-shadow: inherit;
  color: @selected;
  border-radius: 0.75rem;
}

#workspaces button.active:hover {
  border-radius: 0.25rem;
}

/** ============================= **/
/** ========== General ========== **/
/** ============================= **/
#network {
  color: @foreground;
  padding: 0 0.75rem;
  font-weight: bold;
}

#temperature,
#disk,
#cpu,
#memory,
#clock {
  font-weight: bold;
}

#temperature.Cpu,
#temperature.Gpu,
#temperature.Nvme,
#disk.Root,
#disk.Home,
#cpu.Icon,
#memory.Icon,
#clock.Icon,
#network {
  padding-right: 0.5rem;
}

/** ================================= **/
/** ========== Temperature ========== **/
/** ================================= **/
#temperature.Cpu.critical,
#temperature.Cpu2.critical,
#temperature.Gpu.critical,
#temperature.Gpu2.critical,
#temperature.Nvme.critical,
#temperature.Nvme2.critical {
  color: @selected;
}
