/* ========================= **
** Launcher Module Style
** ========================= */
#custom-launcher {
  background-color: transparent;
  font-size: large;
  font-weight: bold;
  margin-left: 10;
}
