/* ================================================ **
** Waybar Styles
** ================================================ */

/* ========================= **
** Import Colors
** ========================= */
@import "./colors.css";

/* ========================= **
** General
** ========================= */
* {
  font-family: "Symbols Nerd Font", "Hack Nerd Font";
  font-size: 13px;
  font-weight: bold;
}

tooltip {
  background-color: @background;
  border: 0.05rem solid @backgroundAlt;
  border-radius: 0.25rem;
}

tooltip label {
  color: @foregroundAlt;
  font-size: medium;
}

/* ========================= **
** Waybar Bar
** ========================= */
#waybar {
  background-color: @background;
  color: @foreground;
  border: 0.05rem solid @backgroundAlt;
  border-radius: 0.25rem;
  transition-property: background-color;
  transition-duration: 0.5s;
}

/* ========================= **
** Waybar Left Modules
** ========================= */
#custom-launcher,
#workspaces,
#temperatureGroup,
#hardwareGroup,
#storageGroup {
  background-color: transparent;
  margin: 0.45rem 5 0.45rem 0;
}

/* ========================= **
** Waybar Center Modules
** ========================= */

/* ========================= **
** Waybar Right Modules
** ========================= */


/* ========================= **
** Common Modules Styling
** ========================= */
@import "./modules/common/style/common-style.css";

/* ========================= **
** Custom Modules Styling
** ========================= */
@import "./modules/custom/style/custom-style.css";

/* ========================= **
** Group Modules Styling
** ========================= */
@import "./modules/group/style/group-style.css";
