/** ********** Colors ********** **/
@define-color background      #0f1318;
@define-color background-alt1 #191f27;
@define-color background-alt2 #232c37;
@define-color foreground      #e4e4e1;
@define-color selected        #A8C059;
@define-color black           #0f1318;
@define-color red             #96744B;
@define-color green           #669949;
@define-color yellow          #A49368;
@define-color blue            #A8C059;
@define-color magenta         #787C84;
@define-color cyan            #ADAC9F;
@define-color white           #e4e4e1;

window {
  margin: 0px;
  border: 2px solid @background-alt2;
  background-color: @background;
  border-radius: 0.5rem;
}

#input {
  margin: 5px;
  border: none;
  color: @foreground;
  border-radius: 0.5rem;
  background-color: @background-alt1;
}

#inner-box {
  margin: 5px;
  border: none;
  border-radius: 0.5rem;
  background-color: @background;
}

#outer-box {
  margin: 5px;
  border: none;
  border-radius: 0.5rem;
  background-color: @background;
}

#scroll {
  margin: 0px;
  border-radius: 0.5rem;
  border: none;
}

#text {
  border-radius: 0.5rem;
  margin: 5px;
  border: none;
  color: @foreground;
}

#entry.activatable #text {
  color: @background;
}

#entry > * {
  color: @foreground;
}

#entry:selected {
  border-radius: 0.5rem;
  background-color: @background-alt1;
}

#entry:selected #text {
  border-radius: 0.5rem;
}
