/** ********** Colors ********** **/
@define-color background      #0C0F12;
@define-color background-alt1 #171c21;
@define-color background-alt2 #202931;
@define-color foreground      #b2babf;
@define-color selected        #5A676E;
@define-color black           #0C0F12;
@define-color red             #35484F;
@define-color green           #3C5463;
@define-color yellow          #485056;
@define-color blue            #5A676E;
@define-color magenta         #6C7B84;
@define-color cyan            #827B80;
@define-color white           #b2babf;

window {
  margin: 0px;
  border: 2px solid @background-alt2;
  background-color: @background;
  border-radius: 0.5rem;
}

#input {
  margin: 5px;
  border: none;
  color: @foreground;
  border-radius: 0.5rem;
  background-color: @background-alt1;
}

#inner-box {
  margin: 5px;
  border: none;
  border-radius: 0.5rem;
  background-color: @background;
}

#outer-box {
  margin: 5px;
  border: none;
  border-radius: 0.5rem;
  background-color: @background;
}

#scroll {
  margin: 0px;
  border-radius: 0.5rem;
  border: none;
}

#text {
  border-radius: 0.5rem;
  margin: 5px;
  border: none;
  color: @foreground;
}

#entry.activatable #text {
  color: @background;
}

#entry > * {
  color: @foreground;
}

#entry:selected {
  border-radius: 0.5rem;
  background-color: @background-alt1;
}

#entry:selected #text {
  border-radius: 0.5rem;
}
