/* ========================= **
** Modules Left Styling
** ========================= */
#temperature,
#cpu,
#memory,
#disk {
  background-color: @backgroundAlt;
  color: @foreground;
  padding: 0.25rem 0.5rem;
  margin: 0 5 0 0;
}

#temperature.Nvme,
#temperature.Cpu,
#temperature.Gpu,
#cpu.Icon,
#memory.Icon,
#disk.Root,
#disk.Home {
  margin-right: 0;
  padding-right: 0;
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}

#temperature.Nvme2,
#temperature.Cpu2,
#temperature.Gpu2,
#cpu.Text,
#memory.Text,
#disk.Root2,
#disk.Home2 {
  margin-right: 0;
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

#temperature.Cpu.critical,
#temperature.Cpu2.critical,
#temperature.Gpu.critical,
#temperature.Gpu2.critical,
#temperature.Nvme.critical,
#temperature.Nvme2.critical {
  color: @yellowL;
}

/* ========================= **
** Modules Right Styling
** ========================= */
#powerGroup {
  font-size: large;
  margin-right: 10;
}

#custom-lock,
#custom-power,
#custom-restart,
#custom-logout {
  background-color: @backgroundAlt;
  color: @foreground;
  padding: 0.25rem 0.5rem;
  margin: 0 0 0 5;
  border-radius: 0.25rem;
}
