/* ========================= **
** Workspaces Module Style
** ========================= */
#workspaces button {
    all: initial;
    box-shadow: inset 0 -3px transparent;
    background-color: @blackD;
    padding: 0.25rem 0.5rem;
    margin: 0 5 0 0;
    border-radius: 0.25rem;
}

#workspaces button.visible {
}

#workspaces button.empty {
    background-color: @blackD;
}

#workspaces button.active {
    background-color: @foreground;
    color: @background;
}
